@import './variables.scss';
@mixin Button {
    font-size: 25px;
    background-color: $background-element-color;
    width: 90%; 
    padding: 0;
    border-radius: 20px;
    height: 60px;
    color: $text-color;
    border: 1px solid $text-color;
    outline: none;
    font-size: $title;
    
    
}