@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


$text-color: #fffc2a;
$background-element-color: #311939;
$background-color: #222222;
$text: 16px;
$title: 28px;
