header {
    font-size: 44px;
	font-weight: 700;
	color: #ddd;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 50px;
	margin-bottom: 40px;
}




aside {
  float: right;
  border: 1px solid black;
}
footer{
    display: block;
    border: chartreuse 1px solid;
    text-align: center;
    
}
