.post{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    
    width: 850px;
    text-align: center;
    border: brown 1px solid;

}
p{
    text-align: left;
    border-bottom: solid 1px red;
    padding-left: 10px;
}